#header_background {
    background-image: url(./img/wall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main_background {
    background-image: url(./img/cork.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fonts_edu {
    font-family: "Edu TAS Beginner", cursive;
}

.fonts_Sometype_Mono {
    font-family: "Sometype Mono", monospace;
}

.pin {
    width: 3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.card-img-top {
    cursor: pointer;
}

.card-img-top:hover {
    transform: scale(1.2) rotate(10deg);
    transition: 1s;
    box-shadow: 10px 10px 20px black;
    z-index: 1;
}