#header {
    background-image: url(./img/wall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main {
    background-image: url(./img/cork.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fonts_edu {
    font-family: "Edu TAS Beginner", cursive;
}

.fonts_Sometype_Mono {
    font-family: "Sometype Mono", monospace;
}

.pin {
    width: 3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}