#header {
    background-image: url(./img/wall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main {
    background-image: url(./img/cork.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fonts_edu {
    font-family: "Edu TAS Beginner", cursive;
}

.fonts_Sometype_Mono {
    font-family: "Sometype Mono", monospace;
}

.pin {
    width: 3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}